name: Test Type Check (Act)

on:
  workflow_dispatch:

jobs:
  test-frontend-type-check:
    name: Test Frontend Type Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup build environment
        uses: ./.github/actions/setup-build-env

      - name: Build workspace packages
        uses: ./.github/actions/build-packages

      - name: Run type check
        run: pnpm run type-check
